.card-horizontal {
  width: 928px;
  height: 308px;
  border-radius: 32px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-header img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.card-icon {
  font-size: 24px;
  color: #000;
}

.card-subtitle {
  font-size: 14px;
  color: #666;
  margin: 8px 0 0 0;
}

.card-divider {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.card-description {
  list-style: disc inside;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  color: #333;
  font-size: 16px;
  letter-spacing: 0.3px; /* espacio entre letras */
  line-height: 2.4; /* espacio entre líneas */
}

.card-list-item {
  margin-bottom: 14px;
}

.card-button-container {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}
