.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 28rem;
  padding-right: 28rem;

  // Esto asegura que el logo esté a la izquierda
  .column1 {
    flex: 1;
  }
  .column2 {
    font-size: smaller;
    color: black;
    font-weight: 600;
  }
  .logo {
    height: 36px;
    width: 73.19px;

    @media (max-width: 768px) {
      height: 32px;
    }
  }

  // Grupo derecho (columna 2 y 3)
  .rightGroup {
    display: flex;
    align-items: center;
    gap: 2rem; // Aumenta este valor si quieres más espacio
  }

  .column3 {
    font-weight: 700;
    font-size: large;
  }

  // Vista móvil
  @media (max-width: 768px) {
    .column2 {
      display: none;
    }

    .rightGroup {
      gap: 0.5rem; // Reduce espacio en móviles si quieres
    }
  }
}
