.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  // Esto asegura que el logo esté a la izquierda
  .column1 {
    flex: 1;
  }
  .logo {
    height: 52px;
    width: auto;

    @media (max-width: 768px) {
      height: 32px;
    }
  }

  // Grupo derecho (columna 2 y 3)
  .rightGroup {
    display: flex;
    align-items: center;
    gap: 2rem; // Aumenta este valor si quieres más espacio
  }

  .column3 {
    font-weight: 700;
  }

  // Vista móvil
  @media (max-width: 768px) {
    .column2 {
      display: none;
    }

    .rightGroup {
      gap: 0.5rem; // Reduce espacio en móviles si quieres
    }
  }
}
